/* TaskForm.css */

.task-form {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task-form input,
.task-form textarea {
  display: block;
  margin-bottom: 10px;
  width: calc(100% - 20px); /* Adjusted width */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "roboto";
}

.task-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
}

.task-form button:hover {
  background-color: #0056b3;
}
